In [1]:
from data.data import  Data
from settings.settings import Settings
import subprocess
settings = Settings()

In [2]:
settings.settings

{'import_source_path': 'D:/DCIM/',
 'import_desitination_path': './test/',
 'export_desitination_path': 'D:/DCIM/',
 'csv_path': 'D:/DCIM/',
 'import_base_name': 'GHXXXX_YY.mp4',
 'export_base_name': 'date_activity_person.mp4',
 'date_format': '%Y_%m_%d',
 'csv_headings': 'Video Name,Paddler,Start Time,Stop Time'}

In [3]:
test_data = Data(settings.settings)
test_data.createCsvManual("22_09_22_test.csv")
test_data.data

     Video Name Paddler Start Time Stop Time  Subclip Num
0  GH021413.mp4     Ali     1270.0      74.0            0
1  GH021413.mp4     Ali        0.0     420.0            1
2  GH021412.mp4    Sean        0.0      15.0            0

In [4]:
test_data.data

     Video Name Paddler Start Time Stop Time  Subclip Num
0  GH021413.mp4     Ali     1270.0      74.0            0
1  GH021413.mp4     Ali        0.0     420.0            1
2  GH021412.mp4    Sean        0.0      15.0            0